{% extends 'base1.html' %}
{% block pagetitle %}
    高层用户列表 <small>senior list</small>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="note note-success">
            <h4 class="block">操作成功</h4>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>用户名</th>
                        <th>昵称</th>
                        <th>性别</th>
                        <th>角色</th>
                    </tr>
                </thead>
                <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.nickname }}</td>
                                <td>{{ user.gender }}</td>
                                <td>{{ user.role }}</td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}