{% extends 'base1.html' %}
    {% block pagetitle %}
        用户列表 <small>user list</small>
    {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="note note-success">
            <h4 class="block">操作成功</h4>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>用户名</th>
                        <th>昵称</th>
                        <th>性别</th>
                        <th>角色</th>
                    </tr>
                </thead>
                <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.nickname }}</td>
                                <td>{{ user.gender }}</td>
                                <td>{{ user.role }}</td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


  <form action="{{ url_for('edit_user', id=user.id) }}" method="post">
    <p>姓名：<input name="name" type="text" value="{{ user.name }}"></p>
    <p>
      性别:
      <select name="gender" >
        <option value="M" {% if user.gender == 'M' %}selected{% endif %}>男</option>
        <option value="F" {% if user.gender == 'F' %}selected{% endif %}>女</option>
        <option value="MF">男女</option>
      </select>
      {% if form.gender.errors %}
      <span style="color:red;">
      {{ form.gender.errors | join('<br>') }}
      </span>
      {% endif %}
    </p>
    <p><input type="submit"></p>
  </form>

