<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base1.html' %}


                {% block pagetitle %}
			员工表 <small>user list</small>
                {% endblock %}

            <body>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li style="color: green">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

    <table border="1">
    <thead>
        <tr>
            <td>#</td>
            <td>用户名</td>
            <td>账号</td>
            <td>密码</td>
            <td>性别</td>
            <td>生日</td>
            <td>电话</td>
            <td>工作区域</td>
            <td>详情</td>
            <td>操作1</td>
            <td>操作2</td>
            <td>操作3</td>

        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr><td>{{ loop.index }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.account }}</td>
            <td>{{ user.passoword }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.birthday }}</td>
            <td>{{ user.phone}}</td>
            <td>{{ user.workaddress }}</td>
            <td><a href="{{url_for('bp_user.profile', id=user.account)}}">查看</a></td>
            <td><a href="{{url_for('bp_user.add_user', id=user.account)}}">增加</a></td>
            <td><a href="{{url_for('bp_user.edit_user', id=user.account) }}">修改</a></td>
            <td><a href="{{url_for('bp_user.del_user', id=user.account) }}">删除</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</body>
</body>
</html>>
